@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');


* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #262926;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: rem;
    padding: 3rem;
    color: #ffffff;
    background-color: #131516;
    border-radius: 35px;
}

#formu {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 20px;
}

#titulo {
    font-size: 2.25rem;
    color: #ffffff;
    font-weight: 550;
    position: relative;
}

#titulo::after {
    position: absolute;
    content: '';
    background-color: #7351ee;
    width: 18rem;
    height: 1px;
    bottom: 0;
    left: 0;
    border-radius: 5px;
}

.input-box label {
    font-size: 1.1rem;
    color: #ecdfdf;
    font-weight: 420;
}

.input-slot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #262926;
    padding: 0.3rem;
    border-radius: 10px;
    margin-top: 3px;
}

.input-slot span,
.input-slot i {
    color: #7351ee;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-slot input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.2rem;
    color: #ffffff;
}

.input-slot input::-webkit-outer-spin-button,
.input-slot input::-webkit-inner-spin-button {
    appearance: none;
}

.input-slot input:focus {
    outline: none;
}

#calcular {
    border: none;
    font-size: 1.20rem;
    font-weight: bold;
    background-color: #262926;
    color: #7351ee;
    padding: 0.6rem 0rem;
    border-radius: 10px;
    cursor: pointer;
}

#calcular:hover {
    background-color: #7351ee;
    color: #ecdfdf;
    transition: 0.5s;
}

#exibir {
    padding-top: 20px;
}

#resultado {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #262926;
    padding: 0.75rem 0;
}

#imc {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.75rem;
}

#imc span:last-child {
    font-size: 1rem;
    color: #7351ee;
}

#descricao {
    width: 15rem;
}

.hidden {
    display: none;
}

.ideal {
    color: #51ee59;
}

.warning{
    color: #ee5151;
}

@media screen and (max-width: 500px){
    #calculator{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
