@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');


* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #262926;
}

#calculator{
    display: flex;
    flex-direction: column;
    gap: rem;
    padding: 3rem;
    color: #ffffff;
    background-color: #131516;
    border-radius: 35px;
}

#formu{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 20px;
}

#titulo{
    font-size: 2.25rem;
    color: #ffffff;
    font-weight: 550;
    position: relative;
}

#titulo::after{
    position: absolute;
    content: '';
    background-color: #7351ee;
    width: 18rem;
    height: 1.5px;
    bottom: 0;
    left: 0;
    border-radius: 5px;
}

.input-box label {
    font-size: 1.1rem;
    color: #ecdfdf;
    font-weight: 420;
}

.input-slot{
   

}